{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{reset_after_eunit, true}.

{deps, [
        {riak_cs_acl, ".*", {git, "git://github.com/basho/riak_cs_acl", {branch, "develop"}}},
        {riak_cs_auth, ".*", {git, "git://github.com/basho/riak_cs_auth", {branch, "develop"}}},
        {riak_cs_lfs, ".*", {git, "git://github.com/basho/riak_cs_lfs", {branch, "develop"}}}
       ]}.
